<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxl.aspect.mapper.RoomMapper">

    <select id="queryRoom" resultType="com.hxl.aspect.entity.Room">
        select * from ${tableName}
        <where>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="roomName != null">
                and room_name = #{roomName}
            </if>
        </where>
    </select>

</mapper>