<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxl.aspect.mapper.TableMapper">

    <select id="getTableOneInfo" resultType="com.hxl.aspect.entity.TableOne">
        select * from ${tableName}
    </select>

    <select id="getTableTwoInfo" resultType="com.hxl.aspect.entity.TableTow">
        select * from ${tableName}
    </select>

</mapper>